
.compact{
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.nav{
	ul{
		//Extend classes and rules into blocks.
		@extend .compact;
	}
	//Don't get so specific. You just have to target the block that's in the nav. Not nessecarly
	a {
		display: block;
		padding: 0.2em 0.5em;
		font-weight: normal;
		&:hover{
			text-decoration: underline;
		}
	}
	&bar{
		color: var(--body-text-color);
		line-height: var(--header-height);
	}
}

.container{
	max-width:map-get($breakpoints,'xl');
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid rgba(var(--border-color), 0.25);
	border-bottom: 1px solid rgba(var(--border-color), 0.25);
}

.flex {
	&-parent{ display: flex; }
	&-child{ flex: 1 1 auto; }
	&-none { flex:none; }
	&-wrap { flex-wrap:wrap; }
	&-column { flex-direction:column; }
	&-row { flex-direction:column; }
	&-align-center { align-items:center; }
	&-justify-center { justify-content:center; }
	&-justify-end { justify-content:flex-end; }
}

// NEW CODE Sep 26

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}


.grid {
	&-parent{
	 	@include display-grid;
		grid-template-columns: repeat(12, minmax(90px, 1fr));
		grid-gap: 20px;
		margin-bottom: 20px;
	}
	&-child-1-5{
		@include grid-child (1, 5, auto,auto);
	}
	&-child-7-10{
		@include grid-child (7, 10, auto,auto);
	}
	&-child-10-12{
		@include grid-child (10, 13, auto,auto);
	}
	&-child-align-bottom{
		place-self: end center;
	}
}

.background-img{
	&-properties{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		padding-bottom: 150px;
	}
	&-back{
		background-image: url("../src/img/back.jpg");
	}
	&-beach{
		background-image: url("../src/img/beach.jpg");
		padding-top: 150px;
	}
}
